<div>

  <mat-tab-group>
    <mat-tab label="Informações">

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>
          Nome
          <mat-icon>person</mat-icon>
        </mat-label>
        <input matInput type="text" placeholder="Nome completo" [(ngModel)]="userNameNew">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>
          Email
          <mat-icon>mail</mat-icon>
        </mat-label>
        <input matInput type="text" placeholder="E-mail" [(ngModel)]="userEmailNew">
      </mat-form-field>

    </mat-tab>
    <mat-tab label="Senha">

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>
          Senha atual
          <mat-icon>key</mat-icon>
        </mat-label>
        <input matInput type="password" placeholder="Senha antiga" [(ngModel)]="userPassOld">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>
          Nova senha
          <mat-icon>key</mat-icon>
        </mat-label>
        <input matInput type="password" placeholder="Senha nova" [(ngModel)]="userPassNew">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>
          Repita a nova senha
          <mat-icon>key</mat-icon>
        </mat-label>
        <input matInput type="password" placeholder="Repita a senha nova" [(ngModel)]="userPassRepeatNew">
      </mat-form-field>

    </mat-tab>
  </mat-tab-group>

  <div mat-dialog-actions>
    <button mat-button color="{{uiColor}}" (click)="onExitClick()">Sair</button>
    <button mat-button color="{{uiColor}}" (click)="onSaveClick()" [mat-dialog-close]="data">Salvar</button>
  </div>
</div>