<div>

  <div class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" *ngIf="hasToWait" diameter="50"> </mat-progress-spinner>
  </div>

  <!--Card with filters-->
  <mat-card>
    <mat-card-title>Tags</mat-card-title>
    <mat-card-actions>

      <!--For Web devices-->
      <table *ngIf="!isMobileDevice" class="table-filter-fields" cellspacing="0">
        <td>
          <!--Description field-->
          <mat-form-field>
            <mat-label>Insira o nome da tag</mat-label>
            <input matInput (keydown.enter)="getTags()" placeholder="Ex.: Conta fixa..." [(ngModel)]="descToFilter">
          </mat-form-field>

          <!--Button search-->
          <button matTooltip="Criar tag" mat-raised-button color="{{uiColor}}" (click)="openDialogAddNewTag()">
            <mat-icon>add</mat-icon>
            Criar
          </button>
          <button matTooltip="Pesquisar tags" mat-raised-button color="{{uiColor}}" (click)="getTags()">
            <mat-icon>search</mat-icon>
            Pesquisar
          </button>
      </table>

      <!--For mobile devices-->
      <table *ngIf="isMobileDevice" class="table-filter-fields" cellspacing="1">

        <tr>
          <!--Description field-->
          <mat-form-field>
            <mat-label style="font-size: 14px;">Insira o nome da tag</mat-label>
            <input matInput placeholder="Ex.: Conta fixa..." [(ngModel)]="description">
          </mat-form-field>
        </tr>
        <!--Button search-->
        <tr>
          <button matTooltip="Criar tag" mat-icon-button color="{{uiColor}}" (click)="openDialogAddNewBill()">
            <mat-icon>add</mat-icon>
          </button>
          <button matTooltip="Pesquisar tags" mat-icon-button color="{{uiColor}}" (click)="getTags()">
            <mat-icon>search</mat-icon>
          </button>
        </tr>
      </table>
    </mat-card-actions>
  </mat-card>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" aria-label="Select page of users"></mat-paginator>

  <table mat-table [dataSource]="listTags" matSort>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Column 'Nome da tag' -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome da tag </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Column 'Button Edit' -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element">
        <button matTooltip="Editar tag" mat-icon-button color="{{uiColor}}" [disabled]="element.disableEdit"
          (click)="openDialogAddNewTag(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Column 'Button Remove'-->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Remover</th>
      <td mat-cell *matCellDef="let element">
        <button matTooltip="Excluir tag" mat-icon-button color="{{uiColor}}" [disabled]="element.disableDelete"
          (click)="deleteTag(element)">
          <mat-icon>clear</mat-icon>
        </button>
      </td>
    </ng-container>

  </table>

</div>