mat-card {
  max-width: 400px;
  margin: 10em auto;
  margin-top: 10em auto;
  text-align: center;
  border-radius: 10px;
}

mat-form-field {
  display: block;
}

.space {
  display: inline-block;
  margin-right: 10px;
}