.bills-close-to-overdue {
  font-size: 18px;
  color: #6f6b6b;
}

.bills-overdue {
  font-size: 18px;
  color: #ff4d4d;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}