<mat-sidenav-container>
  <mat-sidenav #sidenav></mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100%;">

      <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expandir todos</button>
        <button mat-button (click)="accordion.closeAll()">Recolher todos</button>
      </div>
      <mat-accordion multi>

        <div *ngFor="let panel of panels">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <!--First expansion panel-->
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{panel.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{panel.description}}
                <mat-icon>{{panel.icon}}</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Lists -->
            <div *ngFor="let task of panel.tasks">
              <mat-card color="{{uiColor}}">
                <mat-card-title>Conta '{{task.title}}' próximo do vencimento ou vencida</mat-card-title>
                <mat-card-subtitle>Data de vencimento: {{task.date}}</mat-card-subtitle>
                <mat-card-content *ngIf="task.description != ''">Descrição: {{task.description}}</mat-card-content>
                <mat-checkbox [ngModel]="task.done" [disabled]="false" color="{{uiColor}}"
                  (click)="payBillOverdue(task)">Conta paga?</mat-checkbox>
              </mat-card>
            </div>

            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>
        </div>

      </mat-accordion>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>