mat-card {
  max-width: 400px;
  margin: 10em auto;
  margin-top: 10em auto;
  text-align: center;
  border-radius: 10px;
}

mat-form-field {
  display: block;
}

.loading-indicator {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}