<div>
  <mat-toolbar color="{{uiColor}}">
    <mat-toolbar-row>
      <button mat-icon-button matTooltip="Menu" (click)="drawer.toggle()">
        <mat-icon (click)="isToToggleSideNav()">menu</mat-icon>
      </button>
      <h2 *ngIf="!isMobileDevice">{{applicationName}}</h2><!--Only show application name if is a web device-->
      <div class="right-align">

        <!--Welcome back user-->
        <a mat-button *ngIf="isMobileDevice">
          Olá {{userFirstName}}
        </a>
        <a mat-button *ngIf="!isMobileDevice"> Olá {{userFirstName}}, bem-vindo de volta </a>

        <!--Notifications badge-->
        <button mat-icon-button>
          <mat-icon [matBadge]="qtyNotification" matBadgeColor="warn" [matTooltip]="descNotifications" click="">
            notifications_active
          </mat-icon>
        </button>

        <!--Vertical options-->
        <button mat-icon-button matTooltip="Opções" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon class="mr-8">brightness_5</mat-icon>
            <mat-slide-toggle (change)="changeTheme($event)" [(ngModel)]="isDarkModeActive"
              class="mr-8"></mat-slide-toggle>
            <mat-icon>bedtime</mat-icon>
            <span>Trocar tema</span>
          </button>

          <button mat-menu-item (click)="openDialogUpdateUser()">
            <mat-icon matTooltip="Atualizar dados">settings</mat-icon>
            <span>Atualizar dados</span>
          </button>

          <button mat-menu-item [routerLink]="'/whatsnew'">
            <mat-icon matTooltip="Novidades">verified_user</mat-icon>
            <span>Notas de atualização</span>
          </button>

          <button mat-menu-item (click)="about()" disabled>
            <mat-icon matTooltip="Sobre">info</mat-icon>
            <span>Sobre</span>
          </button>

          <button mat-menu-item (click)="logout()" [routerLink]="'/'">
            <mat-icon matTooltip="Sair...">logout</mat-icon>
            <span>Sair...</span>
          </button>
        </mat-menu>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-drawer-container>
  <mat-drawer #drawer mode="over" [opened]="startSideNavOpened">
    <!--(mouseenter)="drawer.toggle()" (mouseleave)="drawer.toggle()"-->
    <!-- <mat-form-field appearance="fill"></mat-form-field> -->

    <!--Home-->
    <mat-list>

      <!--Home-->
      <mat-accordion class="cls-accordion-home">
        <!-- Menu home to expand -->
        <mat-expansion-panel hideToggle="true" (click)="drawer.toggle()" [routerLink]="'/home'">
          <mat-expansion-panel-header #panelH (click)="panelH._toggle() && drawer.toggle()">
            <mat-panel-title>
              <mat-icon color="{{uiColor}}" style="margin-right: 5%;">home</mat-icon>
              Página inicial
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- <mat-list-item>
        <mat-icon matListItemIcon color="{{uiColor}}">home</mat-icon>
        <span matListItemTitle [routerLink]="'/home'">Página inicial</span>
        <span matListItemLine [routerLink]="'/home'" (click)="drawer.toggle()">Página inicial</span>
      </mat-list-item>
      <mat-divider></mat-divider>-->

      <!--Financials-->
      <mat-accordion class="cls-accordion-financials">
        <!--Menu financials to expand-->
        <mat-expansion-panel (opened)="showSubmenu = true" (closed)="showSubmenu = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="{{uiColor}}" style="margin-right: 5%;">account_balance</mat-icon>
              Financeiro
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--Submenu options-->
          <mat-list>
            <mat-list-item style="cursor: pointer" [routerLink]="'/financials'">
              <mat-icon matListItemIcon color="{{uiColor}}">request_quote</mat-icon>
              <span matListItemLine (click)="drawer.toggle()">Gastos mensais</span>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item style="cursor: pointer" [routerLink]="'/defaulters'">
              <mat-icon matListItemIcon color="{{uiColor}}">assignment_ind</mat-icon>
              <span matListItemLine (click)="drawer.toggle()">Inadimplentes</span>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item style="cursor: pointer" [routerLink]="'/reports'">
              <mat-icon matListItemIcon color="{{uiColor}}">leaderboard</mat-icon>
              <span matListItemLine (click)="drawer.toggle()">Relatórios</span>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item style="cursor: pointer" [routerLink]="'/tags'">
              <mat-icon matListItemIcon color="{{uiColor}}">local_offer</mat-icon>
              <span matListItemLine (click)="drawer.toggle()">Tags</span>
            </mat-list-item>
          </mat-list>

        </mat-expansion-panel>
      </mat-accordion>

    </mat-list>

  </mat-drawer>
  <mat-drawer-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>