<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button matTooltip="Menu" (click)="isExpanded = !isExpanded">
      <mat-icon (click)="isToToggleSideNav()">menu</mat-icon>
    </button>
    <!--Only show application name if is a web device-->
    <h2 *ngIf="!isMobileDevice">{{applicationName}}</h2>
    <span class="menu-spacer"></span>
    <div class="right-align">

      <!-- <a mat-button [routerLink]="'/home'"> Página inicial </a>
      <a mat-button [routerLink]="'/financials'"> Minhas finanças </a>
      <a mat-button [routerLink]="'/reports'"> Relatórios </a>
      <a mat-button [routerLink]="'/'"> Sair... </a> -->

      <a mat-button *ngIf="isMobileDevice">
        Olá {{userFirstName}}
      </a>
      <a mat-button *ngIf="!isMobileDevice"> Olá {{userFirstName}}, bem-vindo de volta </a>

      <button mat-icon-button>
        <mat-icon [matBadge]="qtyNotification" matBadgeColor="warn" [matTooltip]="descNotifications" click="">
          notifications_active
        </mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon matTooltip="Atualizar dados" (click)="openDialogUpdateUser()">settings</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon matTooltip="Novidades" [routerLink]="'/whatsnew'">verified_user</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon matTooltip="Sair..." (click)="logout()" [routerLink]="'/'">logout</mat-icon>
      </button>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" [opened]="startSideNavOpened" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list>

      <mat-list-item [routerLink]="'/home'" (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isShowing">Página inicial</span>
        <mat-icon mat-list-icon (click)="isToToggleSideNav()" color="{{uiColor}}">home</mat-icon>
      </mat-list-item>

      <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
        <mat-icon mat-list-icon color="{{uiColor}}">account_balance</mat-icon>
        <span class="full-width" *ngIf="isShowing">Financeiro</span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isShowing" color="{{uiColor}}">
          expand_more
        </mat-icon>
      </mat-list-item>

      <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing">
        <a mat-list-item [routerLink]="'/financials'" (click)="isToToggleSideNav()">
          <mat-icon color="{{uiColor}}">request_quote</mat-icon>
          Gastos mensais
        </a>
        <a mat-list-item [routerLink]="'/defaulters'" (click)="isToToggleSideNav()">
          <mat-icon color="{{uiColor}}">assignment_ind</mat-icon>
          Inadimplentes
        </a>
        <a mat-list-item [routerLink]="'/reports'" (click)="isToToggleSideNav()">
          <mat-icon color="{{uiColor}}">insights</mat-icon>
          Relatórios
        </a>
        <a mat-list-item [routerLink]="'/tags'" (click)="isToToggleSideNav()">
          <mat-icon color="{{uiColor}}">local_offer</mat-icon>
          Tags
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>