<div>
  <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="250">

    <!--Step 1-->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Dados do inadimplente</ng-template>

        <div>
          <mat-form-field appearance="fill" style="width: 47.5%; margin-right: 5%;">
            <mat-label>
              Nome do inadimplente
              <mat-icon>person</mat-icon>
            </mat-label>
            <input matInput required="true" type="text" placeholder="Nome da pessoa" [(ngModel)]="defaulterName"
              formControlName="firstCtrl">
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 47.5%;">
            <mat-label>
              CPF
              <mat-icon>person</mat-icon>
            </mat-label>
            <input matInput required="true" type="number" maxlength="11" placeholder="xxxxxxxxxxx"
              [(ngModel)]="defaulterCpf" formControlName="firstCtrl">
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 47.5%; margin-right: 5%;">
            <mat-label>
              E-mail
              <mat-icon>mail</mat-icon>
            </mat-label>
            <input matInput required="true" type="email" placeholder="clientemail@host.com" [(ngModel)]="defaulterMail"
              formControlName="firstCtrl">
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 47.5%;">
            <mat-label>
              Telefone
              <mat-icon>phone</mat-icon>
            </mat-label>
            <input matInput required="true" type="tel" placeholder="(00) 00000-0000" [(ngModel)]="defaulterPhone"
              formControlName="firstCtrl">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext mat-raised-button color="{{uiColor}}">Próximo</button>
        </div>

      </form>
    </mat-step>

    <!--Step 2-->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Endereço</ng-template>

        <div>
          <mat-form-field appearance="fill" style="width: 47.5%; margin-right: 5%;">
            <mat-label>
              CEP
              <mat-icon>pin</mat-icon>
            </mat-label>
            <input matInput required="true" type="number" maxlength="9" placeholder="XXXXX-XXX"
              [(ngModel)]="defaulterZipCode" formControlName="secondCtrl">
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 47.5%;">
            <mat-label>
              Endereço
              <mat-icon>home_filled</mat-icon>
            </mat-label>
            <input matInput required="true" type="text" placeholder="Rua xxx." [(ngModel)]="defaulterAddress"
              formControlName="secondCtrl">
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 47.5%; margin-right: 5%;">
            <mat-label>
              Número
              <mat-icon>123</mat-icon>
            </mat-label>
            <input matInput required="true" type="number" maxlength="4" placeholder="xxx" [(ngModel)]="defaulterNumber"
              formControlName="secondCtrl">
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 47.5%;">
            <mat-label>
              Complemento
              <mat-icon>gite</mat-icon>
            </mat-label>
            <input matInput required="true" type="text" placeholder="Casa/apartamento n17"
              [(ngModel)]="defaulterComplement" formControlName="secondCtrl">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext mat-raised-button color="{{uiColor}}">Próximo</button>
        </div>

      </form>
    </mat-step>

    <!--Step 3-->
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Valor</ng-template>

        <div>
          <mat-form-field appearance="fill" style="width: 47.5%; margin-right: 5%;">
            <mat-label>
              Valor
              <mat-icon>money</mat-icon>
            </mat-label>
            <input matInput required="true" type="number" [(ngModel)]="defaulterValue" formControlName="thirdCtrl">
            <span matPrefix>R$&nbsp;</span>
          </mat-form-field>

          <mat-form-field appearance="fill" floatLabel="always" style="width: 47.5%;">
            <mat-label>Tipo de inadimplente</mat-label>
            <mat-slide-toggle color="{{uiColor}}" [(ngModel)]="defaulterIsDebtor" formControlName="thirdCtrl">
              <div *ngIf="defaulterIsDebtor">Devedor</div>
              <div *ngIf="!defaulterIsDebtor">Credor</div>
            </mat-slide-toggle>
            <textarea matInput hidden></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" floatLabel="always" style="width: 47.5%; margin-right: 5%;">
            <mat-label *ngIf="defaulterIsDebtor">Devedor irá parcelar?</mat-label>
            <mat-label *ngIf="!defaulterIsDebtor">Credor irá parcelar?</mat-label>
            <mat-slide-toggle color="{{uiColor}}" [(ngModel)]="isDefaulterPayInInstallments"
              formControlName="thirdCtrl">
              <div *ngIf="isDefaulterPayInInstallments">Sim</div>
              <div *ngIf="!isDefaulterPayInInstallments">Não</div>
            </mat-slide-toggle>
            <textarea matInput hidden></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 47.5%;">
            <mat-label>
              Número de prestações
              <mat-icon>123</mat-icon>
            </mat-label>
            <input matInput required="true" type=" number" placeholder="1" value="1" [(ngModel)]="defaulterQuantity"
              [(disabled)]="isDefaulterPayInInstallments" formControlName="thirdCtrl">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext mat-raised-button color="{{uiColor}}">Próximo</button>
        </div>

      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <!-- You are now done. -->
      Todos os campos preenchidos, basta salvar para concluir.
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button (click)="stepper.reset()">Reiniciar o cadastro</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

  <div mat-dialog-actions>
    <button mat-button (click)="onExitClick()">Sair</button>
    <button mat-button (click)="onSaveClick()" cdkFocusInitial mat-raised-button color="{{uiColor}}">Salvar</button>
  </div>
</div>