<!--Header-->
<mat-toolbar class="toolbar-home">
  <button mat-button [matMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/home">Página inicial</a>
    <a mat-menu-item routerLink="/financials">Minhas finanças</a>
    <a mat-menu-item routerLink="/reports">Relatórios</a>
    <a mat-menu-item routerLink="/">Sair...</a>
    <!-- //TODO: #3 Instead create each component, call an API to return all data needed-->
    <!-- <a mat-menu-item routerLink="/proposta-anular">Anula Propostas</a>
    <a mat-menu-item routerLink="/monitoramento">Monitoramento</a>
    <a mat-menu-item routerLink="/geradorHash">Gerador Hash</a>
    <a mat-menu-item routerLink="/relatorios">Relatórios</a> -->
  </mat-menu>
  <span class="toolbar-text ">{{applicationName}}</span>
</mat-toolbar>
<router-outlet></router-outlet>
<!--footer-->
<footer class="footer">© 2022 Copyright: by Dionei Beilke dos Santos</footer>