<div>

  <div class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" *ngIf="hasToWait" diameter="50"> </mat-progress-spinner>
  </div>

  <!--Card with filters-->
  <mat-card>
    <mat-card-title>Contas</mat-card-title>
    <mat-card-actions>

      <!--For Web devices-->
      <table *ngIf="!isMobileDevice" class="table-filter-fields" cellspacing="0">
        <td>
          <!--Description field-->
          <mat-form-field>
            <mat-label>Insira uma descrição</mat-label>
            <input matInput placeholder="Ex.: NuBank..." [(ngModel)]="description">
          </mat-form-field>
        </td>
        <td>
          <!--Tags field-->
          <mat-form-field>
            <mat-label>Insira uma tag</mat-label>
            <input matInput placeholder="Ex.: Conta fixa..." [(ngModel)]="tag">
          </mat-form-field>
        </td>
        <td>
          <button style="margin-left: 8px;" mat-icon-button color="{{uiColor}}" (click)="previousMonth()">
            <mat-icon matTooltip="Mês anterior">arrow_back_ios_new</mat-icon>
          </button>

          <!--Month selection-->
          <mat-form-field style="width: 100px;">
            <mat-label>Mês e ano</mat-label>
            <input matInput [matDatepicker]="dp" placeholder="Escolha uma data" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
              panelClass="example-month-picker"></mat-datepicker>
          </mat-form-field>

          <button style="margin-left: 8px;" mat-icon-button color="{{uiColor}}" (click)="nextMonth()">
            <mat-icon matTooltip="Mês posterior">arrow_forward_ios</mat-icon>
          </button>
        </td>
        <!--Button search-->
        <td>
          <button mat-raised-button color="{{uiColor}}" (click)="openDialogAddNewBill()">Criar</button>
          <button mat-raised-button color="{{uiColor}}" (click)="getBills()">Pesquisar</button>
        </td>
      </table>

      <!--For mobile devices-->
      <table *ngIf="isMobileDevice" class="table-filter-fields" cellspacing="1">

        <tr>
          <!--Description field-->
          <mat-form-field>
            <mat-label style="font-size: 14px;">Insira uma descrição</mat-label>
            <input matInput placeholder="Ex.: NuBank..." [(ngModel)]="description">
          </mat-form-field>
          <!--Tags field-->
          <mat-form-field>
            <mat-label style="font-size: 14px;">Insira uma tag</mat-label>
            <input matInput placeholder="Ex.: Conta fixa..." [(ngModel)]="tag">
          </mat-form-field>
        </tr>
        <!--Month selection-->
        <tr>
          <mat-form-field style="width: 100px;">
            <mat-label>Mês e ano</mat-label>
            <input matInput [matDatepicker]="dp" placeholder="Escolha uma data" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
              panelClass="example-month-picker"></mat-datepicker>
          </mat-form-field>
        </tr>
        <!--Button search-->
        <tr>
          <button mat-raised-button color="{{uiColor}}" (click)="openDialogAddNewBill()">Criar</button>
          <button mat-raised-button color="{{uiColor}}" (click)="getBills()">Pesquisar</button>
        </tr>
      </table>
    </mat-card-actions>
  </mat-card>

  <table mat-table [dataSource]="listBills">

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Column 'Entrada ou saída' -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngIf="element.isCashIn">Entrada</mat-chip>
          <mat-chip *ngIf="!element.isCashIn">Saída</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <!-- Column 'Nome da conta' -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome da conta </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Column 'Data de vencimento' -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef> Data de vencimento </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
    </ng-container>

    <!-- Column 'Valor' -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element">
        <span matPrefix>R$&nbsp;</span>
        {{element.value}}
      </td>
    </ng-container>

    <!-- Column 'Qtd Parcelas' -->
    <ng-container matColumnDef="quantityAmount">
      <th mat-header-cell *matHeaderCellDef> Qtd Parcelas </th>
      <td mat-cell *matCellDef="let element"> {{element.quantityAmount}} </td>
    </ng-container>

    <!-- Column 'tags' -->
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef> Tags </th>
      <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
    </ng-container>

    <!-- Column 'isBillPayed' -->
    <ng-container matColumnDef="isBillPayed">
      <th mat-header-cell *matHeaderCellDef> Conta paga </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [ngModel]="element.isBillPayed" color="{{uiColor}}" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Column 'Button Edit' -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="{{uiColor}}" (click)="openDialogAddNewBill(element)">Editar</button>
      </td>
    </ng-container>

    <!-- Column 'Button Remove'-->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Remover</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="{{uiColor}}" (click)="deleteBill(element)">Excluir</button>
      </td>
    </ng-container>

  </table>

</div>