/* Fix the border around the accordion with fields */
/* mat-accordion .mat-expansion-panel,
mat-expansion-panel:not(mat-expanded) {
  margin: 10px;
} */

/* Let the rows gray and when mouse over, turn the background color to white */
/* .gray {
  background-color: #b1b0b0;
  color: rgb(246, 244, 244);
} */

/* table th.mat-header-cell {
  background-color: #3f51b5 !important;
} */

/* Arrow that are used to sort data in table */
:host ::ng-deep .mat-sort-header-arrow {
  color: #9b5436;
}