/* Fix the border around the accordion with fields */
mat-accordion .mat-expansion-panel,
mat-expansion-panel:not(mat-expanded) {
  margin: 10px;
}

/* Let the rows gray and when mouse over, turn the background color to white */
.gray {
  background-color: #f5f5f5;
  color: white;
}

/* Define the size of the table */
table {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  width: auto;
  padding: 20px;
}

tr.mat-header-row::ng-deep {
  background-color: #2b3539 important;
}

th.mat-sort-header {
  color: #000000;
}

:host ::ng-deep .mat-sort-header-arrow {
  color: #9b5436;
}