<div>

  <div class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" *ngIf="hasToWait" diameter="50"> </mat-progress-spinner>
  </div>

  <!--Card with filters-->
  <mat-card>
    <mat-card-title>Contas</mat-card-title>
    <mat-card-actions>

      <table class="table-filter-fields" cellspacing="0">
        <td>
          <!--Description field-->
          <mat-form-field>
            <mat-label>Insira uma descrição</mat-label>
            <input matInput placeholder="Ex.: NuBank..." [(ngModel)]="descPicked">
          </mat-form-field>
        </td>
        <td>
          <!--Month selection-->
          <mat-form-field>
            <mat-label>Mês e ano</mat-label>
            <input matInput [matDatepicker]="dp" placeholder="Escolha uma data" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
              panelClass="example-month-picker"></mat-datepicker>
          </mat-form-field>
        </td>
        <!--Button search-->
        <td>
          <button mat-raised-button color="{{uiColor}}" (click)="openDialogAddNewBill()">Criar</button>
          <button mat-raised-button color="{{uiColor}}" (click)="getBills()">Pesquisar</button>
        </td>
      </table>
      <!--Button add new register-->
      <td>

      </td>
      <!--Exportation
      <td>
        <button color="{{uiColor}}" mat-mini-fab>
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </td>-->
    </mat-card-actions>
  </mat-card>
  <mat-card>

    <table mat-table [dataSource]="listBills">

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Column 'Entrada ou saída' -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip *ngIf="element.isCashIn">
            <img matChipAvatar src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/enter-2.png" width="16"
              height="16" />
            Entrada
          </mat-chip>
          <mat-chip *ngIf="!element.isCashIn">
            <img matChipAvatar src="https://img.icons8.com/nolan/344/1A6DFF/C822FF/exit.png" width="16" height="16" />
            Saída
          </mat-chip>
        </td>
      </ng-container>

      <!-- Column 'Nome da conta' -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome da conta </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Column 'Data de vencimento' -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef> Data de vencimento </th>
        <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
      </ng-container>

      <!-- Column 'Valor' -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element">
          <span matPrefix>R$&nbsp;</span>
          {{element.value}}
        </td>
      </ng-container>

      <!-- Column 'Qtd Parcelas' -->
      <ng-container matColumnDef="quantityAmount">
        <th mat-header-cell *matHeaderCellDef> Qtd Parcelas </th>
        <td mat-cell *matCellDef="let element"> {{element.quantityAmount}} </td>
      </ng-container>

      <!-- Column 'tags' -->
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
      </ng-container>

      <!-- Column 'Button Edit' -->
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="{{uiColor}}" (click)="updateBill(element)" disabled>Editar</button>
        </td>
      </ng-container>

      <!-- Column 'Button Remove'-->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Remover</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="{{uiColor}}" (click)="deleteBill(element)">Excluir</button>
        </td>
      </ng-container>

    </table>
  </mat-card>

</div>