<div>

  <mat-form-field appearance="outline" class="form-filter">
    <mat-label>Escolha uma versao</mat-label>
    <mat-select [disabled]="false">
      <div *ngFor="let release of listReleases">
        <mat-option [value]="release.name" (click)="getReleaseNotes(release.name)">
          <!-- <mat-icon *ngIf="release.name != 'Versões'">{{release.icon}}</mat-icon> -->
          {{release.name}}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>

  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav-content>
      <div style="height: 100vh;">
        <router-outlet>
          <markdown [data]="releaseMarkdown" (load)="onLoad($event)" (error)="onError($event)"></markdown>
        </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>