<div class="gradient-background">

  <div><br></div>

  <section class="section">
    Discover The Secret of {{ productName }}
  </section>

  <div *ngIf="showLastChanceToBuy">
    <br><br>
    <img class="animated-image" src="/assets/presell-images/limited-time-offer.png" />
  </div>

  <div class="container">
    <img src="/assets/presell-images/Alpilean.png" />
    <img src="/assets/presell-images/limited-offer-banner.png" />
  </div>

  <div><br><br></div>

  <div>
    <br><br>
  </div>

  <div class="button-container">
    <button (click)="onClick()" class="custom-btn">
      Click Here and Access the Official Website > NOW!
    </button>
  </div>

</div>