@use '@angular/material' as mat;
@import "@angular/material/theming";
/* @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css"; */

@include mat.core();

$angular-primary: mat.define-palette(mat.$indigo-palette);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);

// $angular-default-theme: mat.define-light-theme((color: (primary: $angular-primary,
//         accent: $angular-accent,
//         warn: $angular-warn,
//       ),
//     ));

$angular-default-theme: mat.define-light-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

/****************** Custom definitions globally ******************/
// mat-form-field {
//   width: 45.5%;
//   margin-top: 3%;
//   margin-right: 3%;
//   font-size: 14px;
// }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #3f51b5;
  /* footer background color */
}

mat-card-title {
  margin-top: 5px;
  margin-left: 5px;
}

button {
  margin-left: 5px;
}

mat-label {
  font-size: calc(12px + 0.390625vw); //Change font size based on device
}

/****************** Data grid's/tables with data ******************/
mat-paginator {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.cls-mat-table-size {
  /* Div containing the table with data*/
  width: 98.4%;
  padding: 1px;
}

table th.mat-sort-header,
.mat-mdc-header-cell

/*.mat-mdc-row */
/* Color of table rows */
  {
  background-color: #3f51b5 !important;
}

// .cls-mat-table-size {
//   width: 98%;
//   padding: 1px;
// }

// table {
//   margin-top: 0px;
//   margin-left: 10px;
//   margin-right: 10px;
//   margin-bottom: 0px;
//   border-radius: 10px;
//   width: auto;
//   padding: 20px;
// }

// th.mat-header-cell {
//   //Header definitions
//   // border-radius: 10px;
//   background-color: #3f51b5;
// }

// td {
//   //Rows definitions
//   // border-radius: 10px;
// }



/****************** Global Loading spinner ******************/
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/****************** Loading spinner exclusive for login screen ******************/
.loading-indicator-login {
  position: absolute;
  left: 35%;
  top: 45%;
  z-index: 1;
  width: 120px;
  height: 120px;
}

/****************** Defaulters status ******************/
.active-status {
  background-color: #5cb85c;
}

.cancelled-status {
  background-color: #f94449;
}

.blocked-status {
  background-color: #f3ef1a;
}

.done-status {
  background-color: #5bc0de;
}

/****************** Date picker in some screens ******************/
.cls-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.cls-month-picker .mat-calendar-arrow {
  display: none;
}

/****************** Exclusive for dialogs ******************/
.cls-form-field-full-width {
  width: 33%;
  margin-top: 0px;
  margin-left: 10px;
}

.cls-button-small {
  width: 10%;
}

/****************** Fields to filter (Web and mobile) ******************/

.cls-form-field-filter {
  // width: 150px;
  margin-top: 0px;
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
}