@use '@angular/material' as mat;
@import "@angular/material/theming";
/* @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css"; */

@include mat.core();

$angular-primary: mat.define-palette(mat.$indigo-palette);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);

// $angular-default-theme: mat.define-light-theme((color: (primary: $angular-primary,
//         accent: $angular-accent,
//         warn: $angular-warn,
//       ),
//     ));

$angular-default-theme: mat.define-light-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #3f51b5;
  /* footer background color */
}

/****************** Custom definitions globally ******************/
// mat-form-field {
//   width: 45.5%;
//   margin-top: 3%;
//   margin-right: 3%;
//   font-size: 14px;
// }

mat-card-title {
  margin-top: 5px;
  margin-left: 5px;
}

button {
  margin-left: 5px;
}

mat-label {
  font-size: calc(12px + 0.390625vw); //Change font size based on device
}

/****************** Global Loading spinner ******************/
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

table {
  width: 100%;
}

/****************** Loading spinner exclusive for login screen ******************/
.loading-indicator-login {
  position: absolute;
  left: 35%;
  top: 45%;
  z-index: 1;
  width: 120px;
  height: 120px;
}

/****************** Defaulters status ******************/
.active-status {
  background-color: #5cb85c;
}

.cancelled-status {
  background-color: #f94449;
}

.blocked-status {
  background-color: #f3ef1a;
}

.done-status {
  background-color: #5bc0de;
}

/****************** Date picker in some screens ******************/
.cls-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.cls-month-picker .mat-calendar-arrow {
  display: none;
}

/****************** Exclusive for dialogs ******************/
.cls-form-field-full-width {
  width: 33%;
  margin-top: 0px;
  margin-left: 10px;
}

.cls-button-small {
  width: 10%;
}

/****************** Fields to filter (Web and mobile) ******************/

.cls-form-field-filter {
  // width: 150px;
  margin-top: 0px;
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
}

.cls-label-mob {
  font-size: 14px;
}

.cls-mat-expansion-filter .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: left;
}

/****************** Expanded rows in tables ******************/
tr.cls-detail-row {
  height: 0;
}

tr.cls-element-row:not(.cls-expanded-row):hover {
  background: whitesmoke;
}

tr.cls-element-row:not(.cls-expanded-row):active {
  background: #efefef;
}

.cls-element-row td {
  border-bottom-width: 0;
}

.cls-element-detail {
  overflow: hidden;
  display: flex;
}

.cls-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.cls-element-description {
  padding: 16px;
}

.cls-element-description-attribution {
  opacity: 0.5;
}