<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>{{welcomeTitle}}</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/financials'"> Financials </a>

      <!-- <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a> -->

    </div>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <!-- //TODO: #3 Instead create each component, call an API to return all data needed-->
      <a mat-list-item [routerLink]="'/financials'"> Financials </a>

      <!-- <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
      <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
      <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/activities'"> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      </div>
      <mat-accordion>

        <div *ngFor="let panel of panelsDataSource">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <!--First expansion panel-->
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{panel.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{panel.description}}
                <mat-icon>{{panel.icon}}</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Lists -->
            <div *ngFor="let task of panel.tasks">
              <mat-list>
                <mat-list-item> {{task.title}} </mat-list-item>
              </mat-list>
            </div>

            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>

          </mat-expansion-panel>
        </div>


      </mat-accordion>

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>