<div>

  <mat-form-field appearance="outline" style="width: 97.5%; margin-right: 5%;">
    <mat-label>
      Nome da tag
      <mat-icon>local_offer</mat-icon>
    </mat-label>
    <input matInput required="true" type="text" placeholder="Nome da nova tag" [(ngModel)]="tagName">
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="onExitClick()">Sair</button>
    <button mat-button (click)="onSaveClick()" cdkFocusInitial mat-raised-button color="{{uiColor}}">Salvar</button>
  </div>

</div>